body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #675e5e;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav button {
    background-color: #2d2c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

nav button:hover {
    background-color: #4b4a4a;
}

main {
    display: flex;
    margin-top: 60px;
    margin-bottom: 3000px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    
}

.hidden {
    display: none;
}



/* Add more styles as needed */