body {
    font-family: Arial, sans-serif;
    background-color: rgb(10, 10, 10);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(163, 138, 30);
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav h1 {
    margin: 0;
}

nav button {
    background-color: #2d2c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 10px;
}

nav button:hover {
    background-color: #4b4a4a;
}

main {
    display: flex;
    margin-top: 100px;
    margin-bottom: 3000px;
    padding: 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: radial-gradient(circle, rgb(30, 30, 30),rgb(207, 181, 59) );

}

#inputSection{
    background: radial-gradient(circle, rgb(90, 90, 90), rgb(30, 30, 30));

    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 70px;
    height: 20px;
    z-index: 1000;
}

.resume{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    height: 500px;
    overflow-y: auto;
    width: 100%;
    background-color: rgb(203, 30, 30);
    padding: 20px;
    margin-bottom: 20px;
}

#contactInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(163, 138, 30)
}

form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 20px;
    align-items: center;
    
}

.hidden {
    display: none;
}



/* Add more styles as needed */